@font-face {
    font-family: Dia;
    src: url(../e-Ukraine-Medium.woff);
    font-weight: medium;
}

@font-face {
    font-family: Dia;
    src: url(../e-Ukraine-Bold.woff);
    font-weight: bold
}

@font-face {
    font-family: Dia;
    src: url(../e-UkraineHead-Thin.woff);
    font-weight: thin
}

@font-face {
    font-family: Dia;
    src: url(../e-Ukraine-Light.woff);
    font-weight: light
}